@charset "UTF-8";

/* Custom layout */
body {
    margin-top:60px ;
}

/* Angular CSP mode. */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-start { border-spacing:1px 1px; -ms-zoom:1.0001; }
.ng-animate-active { border-spacing:0px 0px; -ms-zoom:1; }


/* Fix nav for mobile device */
.navbar-left {
    float: left !important;
}
.navbar-right {
    float: right !important;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Custom Style */
.box-content + .box-detail {
    margin: -16px 0 15px 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.box-content .header {
    top: 15px;
    left: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #005500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.meta-date {
    float: right;
    text-align: right;
    min-width: 100px;    
    color: #909ba3;
    font-size: 10px;
}

.box-content {
    position: relative;
    padding: 10px 10px 10px;
    margin: 0 0 15px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;    
    background-color: #fff;    
}

.box-detail {
    display: block;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #eaeaea;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}
